.u-m {
  &-t {
    @for $i from 1 through 20 {
      &-#{$i * 5} {
        @include l-pc-all {
          margin-top: ($i * 5) * 1px;
        }
        @include l-tablet-and-mobile {
          margin-top: ($i * 2.5) * 1px;
        }
      }
    }
  }
  &-b {
    @for $i from 1 through 20 {
      &-#{$i * 5} {
        @include l-pc-all {
          margin-bottom: ($i * 5) * 1px;
        }
        @include l-tablet-and-mobile {
          margin-bottom: ($i * 2.5) * 1px;
        }
      }
    }
  }
  &-r {
    @for $i from 1 through 20 {
      &-#{$i * 5} {
        @include l-pc-all {
          margin-right: ($i * 5) * 1px;
        }
        @include l-tablet-and-mobile {
          margin-right: ($i * 2.5) * 1px;
        }
      }
    }
  }
  &-l {
    @for $i from 1 through 20 {
      &-#{$i * 5} {
        @include l-pc-all {
          margin-left: ($i * 5) * 1px;
        }
        @include l-tablet-and-mobile {
          margin-left: ($i * 2.5) * 1px;
        }
      }
    }
  }
}
