.u-m {
  @for $i from 0 through 40 {
    &-t {
      &-#{$i * 5} {
        @include l-pc-l {
          margin-top: floor(($i * 5) * 1px);
        }
        @include l-pc-s {
          margin-top: floor(($i * 4.16) * 1px);
        }
        @include l-tablet {
          margin-top: floor(($i * 3.33) * 1px);
        }
        @include l-mobile {
          margin-top: floor(($i * 2.5) * 1px);
        }
      }
    }
    &-b {
      &-#{$i * 5} {
        @include l-pc-l {
          margin-bottom: floor(($i * 5) * 1px);
        }
        @include l-pc-s {
          margin-bottom: floor(($i * 4.16) * 1px);
        }
        @include l-tablet {
          margin-bottom: floor(($i * 3.33) * 1px);
        }
        @include l-mobile {
          margin-bottom: floor(($i * 2.5) * 1px);
        }
      }
    }
    &-r {
      &-#{$i * 5} {
        @include l-pc-l {
          margin-right: floor(($i * 5) * 1px);
        }
        @include l-pc-s {
          margin-right: floor(($i * 4.16) * 1px);
        }
        @include l-tablet {
          margin-right: floor(($i * 3.33) * 1px);
        }
        @include l-mobile {
          margin-right: floor(($i * 2.5) * 1px);
        }
      }
    }
    &-l {
      &-#{$i * 5} {
        @include l-pc-l {
          margin-left: floor(($i * 5) * 1px);
        }
        @include l-pc-s {
          margin-left: floor(($i * 4.16) * 1px);
        }
        @include l-tablet {
          margin-left: floor(($i * 3.33) * 1px);
        }
        @include l-mobile {
          margin-left: floor(($i * 2.5) * 1px);
        }
      }
    }
  }
}
