.c-show-zoom-in {
  opacity: 0;
  backface-visibility: hidden;
  transition-duration: .8s;
  transition-delay: .3s;
  transition-timing-function: $easeOutCirc;
  transition-property: opacity, transform;
  transform: scale(0.9);
  &.is-shown {
    opacity: 1;
    transform: scale(1);
  }
}
