mixin svg(width, widthBase, heightBase, classNameBase, className, id, alt)
  svg(
    xmlns = "http://www.w3.org/2000/svg",
    width = width,
    height = Math.ceil(width * heightBase / widthBase),
    viewBox = `0 0 ${widthBase} ${heightBase}`,
    class = (className) ? `${classNameBase} ${className}` : classNameBase,
    id = (id) ? id : '',
    alt = (alt) ? alt : '',
  )
    block

mixin iconFacebook(width)
  +svg(width, 117.7, 226.6, 'c-icon-facebook', attributes.className, attributes.id, 'Facebook')
    path(d="M76.4 226.6V123.2h34.7l5.2-40.3H76.4V57.2c0-11.7 3.2-19.6 20-19.6h21.3v-36C114 1.1 101.3 0 86.6 0 55.8 0 34.8 18.8 34.8 53.2v29.7H0v40.3h34.8v103.4h41.6z")

mixin iconFacebookSquare(width)
  +svg(width, 266.9, 266.9, 'c-icon-facebook', attributes.className, attributes.id, 'Facebook')
    path(d="M252.2 0H14.7C6.6 0 0 6.6 0 14.7v237.4c0 8.1 6.6 14.7 14.7 14.7h127.8V163.5h-34.8v-40.3h34.8V93.6c0-34.5 21.1-53.2 51.8-53.2 14.7 0 27.4 1.1 31.1 1.6v36h-21.3c-16.7 0-20 7.9-20 19.6v25.7H224l-5.2 40.3h-34.7V267h68c8.1 0 14.7-6.6 14.7-14.7V14.7c.1-8.1-6.5-14.7-14.6-14.7z")

mixin iconTwitter(width)
  +svg(width, 273.4, 222.2, 'c-icon-twitter', attributes.className, attributes.id, 'Twitter')
    path(d="M273.4 26.3c-10.1 4.5-20.9 7.5-32.2 8.8 11.6-6.9 20.5-17.9 24.7-31-10.9 6.4-22.9 11.1-35.7 13.6C220 6.8 205.4 0 189.3 0c-31 0-56.1 25.1-56.1 56.1 0 4.4.5 8.7 1.5 12.8C88 66.5 46.7 44.2 19 10.3c-4.8 8.3-7.6 17.9-7.6 28.2 0 19.5 9.9 36.6 25 46.7-9.2-.3-17.8-2.8-25.4-7v.7c0 27.2 19.3 49.8 45 55-4.7 1.3-9.7 2-14.8 2-3.6 0-7.1-.4-10.6-1 7.1 22.3 27.9 38.5 52.4 39-19.2 15-43.4 24-69.7 24-4.5 0-9-.3-13.4-.8 24.8 15.9 54.3 25.2 86 25.2 103.2 0 159.6-85.5 159.6-159.6 0-2.4-.1-4.9-.2-7.3 11.1-8 20.6-17.9 28.1-29.1z")

mixin iconInstagram(width)
  +svg(width, 24, 24, 'c-icon-instagram', attributes.className, attributes.id, 'Instagram')
    path(d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z")

mixin iconHatenaBookmark(width)
  +svg(width, 272.8, 227.3, 'c-icon-hatena', attributes.className, attributes.id, 'はてなブックマーク')
    path(d="M164.6 121.7q-13.6-15.2-37.8-17c14.4-3.9 24.8-9.6 31.4-17.3s9.8-17.8 9.8-30.7a55 55 0 0 0-6.6-27.1A48.8 48.8 0 0 0 142.2 11 82.37 82.37 0 0 0 116 2.4C105.8.7 87.9 0 62.3 0H0v227.2h64.2q38.7 0 55.8-2.6c11.4-1.8 20.9-4.8 28.6-8.9a52.5 52.5 0 0 0 21.9-21.4c5.1-9.2 7.7-19.9 7.7-32.1 0-16.9-4.5-30.4-13.6-40.5zm-107-71.4h13.3q23.1 0 31 5.2c5.3 3.5 7.9 9.5 7.9 18s-2.9 14-8.5 17.4-16.1 5-31.4 5H57.6V50.3zm52.8 130.3c-6.1 3.7-16.5 5.5-31.1 5.5H57.6v-49.5h22.6c15 0 25.4 1.9 30.9 5.7s8.4 10.4 8.4 20-3 14.7-9.2 18.4zM244 169.7a28.8 28.8 0 1 0 28.8 28.8 28.8 28.8 0 0 0-28.8-28.8zM219 0h50v151.52h-50z")

mixin iconPocket(width)
  +svg(width, 68.8, 58.9, 'c-icon-pocket', attributes.className, attributes.id, 'Pocket')
    path(d="M68.8 5.6v18.9c0 19.2-15 34.3-33.5 34.3h-.8c-.3 0-.5.1-.8.1C15.2 58.9.2 44 .2 24.8H0V5.6C0 2.3 2.9 0 6.1 0h56.7c3.3 0 6 2.3 6 5.6zM54.3 18.2c-1.7-1.8-4.6-1.9-6.4-.1L34.4 30.9 21 18c-1.8-1.7-4.7-1.7-6.4.1-1.7 1.8-1.7 4.7.1 6.4l16.6 15.9c.9.8 2 1.3 3.2 1.3s2.3-.4 3.2-1.3l16.6-15.9c1.6-1.6 1.7-4.5 0-6.3z")
