.u-cur-a  { cursor: auto; }
.u-cur-d  { cursor: default; }
.u-cur-c  { cursor: crosshair; }
.u-cur-ha { cursor: hand; }
.u-cur-he { cursor: help; }
.u-cur-m  { cursor: move; }
.u-cur-p  { cursor: pointer; }
.u-cur-t  { cursor: text; }
