extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1
    |gulpfile
  p
    |These are my original asset for web development with gulp.

block contentFixedAfter
