extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block contentFixedBefore

block contentStatic
  h1
    |gulpfile
  p
    |The asset to develop a website with Gulp.

block contentFixedAfter
